@import "~styles/shared";

.mobileCover {
  display: none;
}

@media only screen and (max-width: 1200px) {
  :global(.App) {
    overflow: hidden;
  }

  .mobileCover {
    position: absolute;
    z-index: 20;
    top: 0;
    left: 0;
    padding: 20px;
    display: flex;
  }

  .image {
    width: 40%;
    margin-bottom: 40px;
  }

  .logo {
    width: 60%;
    margin-bottom: 60px;
  }

  .text {
    font-size: 3.5vw;
    max-width: 80%;
    margin: 0;
    font-weight: 500;
    line-height: 1.3;
    font-size: 20px;
    text-align: center;
    color: $c-white;
  }
}
