@import "~styles/shared";

.lobbyPage {
  position: relative;
  padding: 40px 60px;
  width: 100%;
  height: 100vh;
  background: $c-violet;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.smallLogo {
  position: absolute;
  top: 40px;
  left: 60px;
}

.githubLink {
  color: $c-white;
  position: absolute;
  bottom: 40px;
  left: 60px;
  width: 24px;

  &:hover {
    opacity: 0.7;
  }
}
