@import "~styles/shared";

.Tile {
  width: 36px;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  flex-shrink: 0;

  cursor: pointer;

  &--empty-slot {
    background: #f0f2f8;
    box-shadow: inset 2px 2px 0px rgba(0, 0, 0, 0.15),
      inset -2px -2px 0px rgba(255, 255, 255, 0.35);
  }

  &--slot {
    opacity: 0.2;
    box-shadow: inset 3px 3px 0px rgba(0, 0, 0, 0.15);
  }

  &--full {
    box-shadow: 2px 2px 0px rgba(0, 0, 0, 0.15);
  }

  &--selected {
    box-shadow: 0 0 0 3px rgb(10, 73, 133);
  }

  > svg {
    width: 100%;
  }
}
