@import "styles/shared";

.text {
  margin: 60px 0 40px;
  max-width: 600px;
  color: $c-white;
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.5;
}

.logo {
  max-width: 100%;
}
