@import "~styles/variables";

.CreateGame {
  &__logo {
    position: absolute;
    top: 40px;
    left: 60px;
  }

  &__page {
    width: 100%;
    height: 100vh;
    background: #b264d2;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  &__title {
    font-size: 50px;
    font-weight: 700;
    color: $c-white;
    margin: 0;
  }

  &__subtitle {
    font-size: 32px;
    color: $c-white;
    font-weight: 500;
    margin: 20px 0 0;
  }

  &__options {
    display: flex;
  }
}

.CreateGameButton {
  width: 120px;
  height: 120px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: none;
  border-top: 2px solid #bf77dd;
  border-left: 2px solid #bf77dd;
  border-bottom: 2px solid #8634a8;
  border-right: 2px solid #8634a8;
  font-size: 16px;
  font-weight: 600;
  color: $c-white;
  margin: 24px;
  cursor: pointer;

  &:hover {
    border-bottom: 2px solid #bf77dd;
    border-right: 2px solid #bf77dd;
    border-top: 2px solid #8634a8;
    border-left: 2px solid #8634a8;
    transform: translate(2px, 2px);
  }

  &:nth-of-type(1) {
    background: #ef69b1;
  }

  &:nth-of-type(2) {
    background: #ffc876;
  }

  &:nth-of-type(3) {
    background: #5cdefb;
  }

  &__count {
    font-size: 32px;
  }
}
