@import "~styles/shared";

.CreateGame {
  &__logo {
    position: absolute;
    top: 40px;
    left: 60px;
  }

  &__page {
    width: 100%;
    height: 100vh;
    background: #b264d2;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  &__title {
    font-size: 50px;
    font-weight: 700;
    color: $c-white;
    margin: 0;
  }

  &__subtitle {
    font-size: 32px;
    color: $c-white;
    font-weight: 500;
    margin: 20px 0 0;
  }

  &__options {
    display: flex;
  }
}

.CreateGameButton {
  width: 120px;
  height: 120px;
  margin: 24px;

  &__count {
    font-size: 32px;
  }
}
