@import "~styles/shared";

.CreateGame {
  &__title {
    font-size: 50px;
    font-weight: 700;
    color: $c-white;
    margin: 0;
  }

  &__subtitle {
    font-size: 32px;
    color: $c-white;
    font-weight: 500;
    margin: 20px 0 30px;
  }

  &__options {
    display: flex;
  }
}

.CreateGameButton {
  width: 120px;
  height: 120px;
  margin: 24px;

  &__count {
    font-size: 32px;
  }
}
