@import "~styles/shared";

.Lang {
  position: absolute;
  top: 40px;
  right: 60px;
  display: flex;

  &__button {
    cursor: pointer;
    border: none;
    background: none;
    display: block;
    font-size: 14px;
    color: $c-white;
    opacity: 0.7;

    &:hover {
      opacity: 1;
    }

    &--active {
      opacity: 1;
      text-decoration: underline;
    }
  }
}
