$c-white: #ffffff;
$c-gray: #e9e8eb;
$c-dark-gray: #c4c4c4;
$c-dark: #2c2c2c;
$c-black: #000000;
$c-green: #11c759;
$c-ocean-green: #3fe2c5;
$c-yellow: #f8c032;
$c-violet: #b264d2;
$c-pink: #ef69b1;
$c-light-yellow: #ffc876;
$c-ocean-blue: #5cdefb;
