.Tile {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  flex-shrink: 0;
  cursor: pointer;

  &--skeleton {
    background-color: #bdc3c7;
  }

  &--selected {
    border: 3px solid white;
  }

  &--type-a {
    background-color: #2ecc71;
  }
  &--type-b {
    background-color: #f39c12;
  }
  &--type-c {
    background-color: #d35400;
  }
  &--type-d {
    background-color: #8e44ad;
  }
  &--type-e {
    background-color: #2980b9;
  }
  &--type-begin {
    background-color: #d4e5ff;
  }
}

.Button {
  font-size: 18px;
  padding: 4px;
  margin: 10px;
}

.Scoreboard {
}

.GameBoard {
  display: flex;
}

.TilesMiddleContainer {
  background: #bdc3c7;
  border-radius: 10px;
  display: inline-grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 20px;
  padding: 20px;
  margin: 20px;
}

.TilesContainer {
  background: #34495e;
  border-radius: 50%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 12px;
  padding: 36px;
}

.PlayerBoard {
  padding: 20px;
  border-radius: 10px;
  background-color: #ffedd7;
  display: inline-grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 10px;

  &__right {
    border-left: 1px solid #d48525;
  }

  &__minus-points {
    margin-top: 10px;
    grid-column: span 2;
    display: flex;
    justify-content: center;
  }

  &__minus-points .Tile--skeleton {
    background-color: #ffc4bf;
  }

  &__minus-points:hover .Tile--skeleton {
    background-color: #fcb6b0;
  }
}

.SlotRow {
  display: flex;
  margin: 10px 0;

  &__tile {
    cursor: default;
    margin-left: 10px;
    opacity: 0.2;

    &--filled {
      opacity: 1;
    }
  }
}

.TemporarySlot {
  display: flex;
  justify-content: flex-end;
  margin: 10px 0;
  cursor: pointer;

  &:hover &__tile {
    opacity: 0.8;
  }

  &__tile {
    margin-left: 10px;
  }
}
