@import "~styles/shared";

.Button {
  border: none;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 600;
  padding: 12px 24px;
  color: $c-white;
  border-radius: 5px;
  cursor: pointer;
  margin: 0 10px;

  &--confirm {
    background: $c-green;

    &:not([disabled]):hover {
      background: lighten($c-green, 10%);
    }
  }

  &--undo {
    background: $c-yellow;

    &:not([disabled]):hover {
      background: lighten($c-yellow, 10%);
    }
  }

  &[disabled] {
    opacity: 0.3;
    cursor: pointer;
  }
}

.PlayerControls {
  position: absolute;
  bottom: 20px;
  right: 20px;
}

.Scoreboard {
  padding: 20px;
  border-radius: 0 0 0 10px;
  background-color: #f7f8fb;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  position: absolute;
  top: 0;
  right: 0;

  &__row {
    min-width: 100px;
    display: flex;
    margin: 5px 0;
    justify-content: space-between;
  }
}

.GameBoard {
  display: flex;
}

.TilesMiddleContainer {
  display: inline-grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 20px;
  padding: 20px;
  margin: 20px;
}

.TilesContainer {
  margin: 10px;
  background: #f7f8fb;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  border-radius: 50%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 8px;
  padding: 32px;
}

.PlayerBoard {
  padding: 20px;
  border-radius: 10px;
  background-color: #f7f8fb;
  display: inline-grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 60px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  margin-left: 20px;
  position: relative;

  &--active {
    box-shadow: 0 0 0 4px rgba($c-green, 0.5);
  }

  &__hint {
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 800;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(0, calc(-100% - 10px));
    color: $c-yellow;
  }

  &--active &__hint {
    color: $c-green;
  }

  &__right {
  }

  &__minus-points {
    margin-top: 10px;
    grid-column: span 2;
    display: flex;
    justify-content: center;
  }
}

.SlotRow {
  display: flex;
  margin: 10px 0;

  &__tile {
    cursor: default;
    margin-left: 10px;
  }
}

.TemporarySlot {
  display: flex;
  justify-content: flex-end;
  margin: 10px 0;
  cursor: pointer;

  &:hover &__tile {
    opacity: 0.8;
  }

  &__tile {
    margin-left: 10px;
  }
}
