@import "~styles/shared";

.PlayerControls {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 12px;

  &__button {
    margin-left: 20px;
  }
}

.Scoreboard {
  padding: 20px;
  border-radius: 10px 0 0 0;
  background-color: $c-violet;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 18px;
  color: $c-white;
  font-weight: 500;
  line-height: 1.4;

  &__row {
    min-width: 100px;
    display: flex;
    margin: 5px 0;
    justify-content: space-between;
  }
}

.MinusPoints {
  position: absolute;
  display: flex;
  flex-direction: column;
  bottom: 0;
  left: 0;
  transform: translate(calc(-100% - 24px), 0);

  &__item {
    position: relative;
    margin-top: 8px;
  }

  &__penalty {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(calc(-100% - 8px), -50%);
    font-weight: 700;
    font-size: 12px;
    color: $c-dark-gray;
  }

  &__tile {
  }
}

.GameBoard {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 30px;
  flex-direction: column;
}

.TilesBoard {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: 2;
  margin-bottom: 30px;

  &__middle {
    grid-column: 3 / span 3;
    grid-row: 1;
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    justify-content: center;
    align-items: center;

    > * {
      margin: 8px;
    }
  }

  &__tile {
    &:nth-child(1) {
      grid-column: 2;
    }
    &:nth-child(2) {
      grid-column: 6;
    }
    &:nth-child(3) {
      grid-column: 3;
    }
    &:nth-child(4) {
      grid-column: 4;
    }
    &:nth-child(5) {
      grid-column: 5;
    }
  }

  &--3-players &__tile {
    &:nth-child(3) {
      grid-column: 2;
    }
    &:nth-child(4) {
      grid-column: 3;
    }
    &:nth-child(5) {
      grid-column: 4;
    }
    &:nth-child(6) {
      grid-column: 5;
    }
    &:nth-child(7) {
      grid-column: 6;
    }
  }

  &--4-players &__middle {
    grid-column: 2 / span 5;
    grid-row: 1;
  }

  &--4-players &__tile {
    grid-column: auto;
  }
}

.TilesContainer {
  margin: 10px;
  background: #f7f8fb;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  border-radius: 50%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 8px;
  padding: 28px;
}

.PlayerBoard {
  padding: 20px;
  border-radius: 10px;
  background-color: #f7f8fb;
  display: inline-grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 60px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  margin-left: 20px;
  position: relative;
  box-shadow: 0 0 0 4px rgba($c-yellow, 0.5);

  &--active {
    box-shadow: 0 0 0 4px rgba($c-green, 0.7);
  }

  &__hint {
    max-width: 50%;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 800;
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(0, calc(-100% - 10px));
    color: darken($c-yellow, 5%);
  }

  &__hint-accent {
    color: darken($c-yellow, 15%);
  }

  &--active &__hint {
    color: $c-green;
  }

  &__right {
  }

  &__minus-points {
    margin-top: 10px;
    grid-column: span 2;
    display: flex;
    justify-content: center;
  }
}

.SlotRow {
  display: flex;
  margin: 10px 0;

  &__tile {
    cursor: default;
    margin-left: 10px;
  }
}

.TemporarySlot {
  display: flex;
  justify-content: flex-end;
  margin: 10px 0;
  cursor: pointer;

  &:hover &__tile {
    opacity: 0.8;
  }

  &__tile {
    margin-left: 10px;
  }
}

.GameOver {
  position: absolute;
  z-index: 10;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: transparentize($c-black, 0.2);

  &__modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: $c-violet;
    padding: 42px 56px;
    border-radius: 10px;
    box-shadow: 0 0 20px 0px darken($c-violet, 20%);
    color: $c-white;
  }

  &__title {
    text-align: center;
    letter-spacing: 2px;
    margin-top: 0;
    font-size: 36px;
    font-weight: 700;
  }

  &__subtitle {
    text-align: center;
    margin-top: 0;
    margin-bottom: 32px;
    font-size: 18px;
    font-weight: 700;
  }

  &__ranking {
    margin-bottom: 40px;
    font-weight: 500;
  }

  &__ranking-result {
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;

    &:nth-child(1) {
      font-size: 32px;
    }

    &:nth-child(2) {
      font-size: 22px;
      opacity: 0.6;
    }

    &:nth-child(n + 3) {
      font-size: 14px;
      opacity: 0.5;
    }
  }
}
