@import "~styles/shared";

.Button {
  border: none;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 600;
  padding: 12px 24px;
  color: $c-white;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 20px;

  &--confirm {
    background: $c-green;

    &:not([disabled]):hover {
      background: lighten($c-green, 10%);
    }
  }

  &--undo {
    background: $c-yellow;

    &:not([disabled]):hover {
      background: lighten($c-yellow, 10%);
    }
  }

  &[disabled] {
    opacity: 0.3;
    cursor: initial;
  }
}

.PlayerControls {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 12px;
}

.Scoreboard {
  padding: 20px;
  border-radius: 0 10px 0 0;
  background-color: $c-violet;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
  position: absolute;
  bottom: 0;
  left: 0;
  font-size: 18px;
  color: $c-white;
  font-weight: 500;
  line-height: 1.4;

  &__row {
    min-width: 100px;
    display: flex;
    margin: 5px 0;
    justify-content: space-between;
  }
}

.GameBoard {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  &__tiles {
    display: flex;
  }
}

.TilesMiddleContainer {
  display: flex;
  max-width: 60%;
  flex-wrap: wrap;
  margin: 20px;

  > * {
    margin: 10px;
  }
}

.TilesContainer {
  margin: 10px;
  background: #f7f8fb;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  border-radius: 50%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 8px;
  padding: 32px;
}

.PlayerBoard {
  padding: 20px;
  border-radius: 10px;
  background-color: #f7f8fb;
  display: inline-grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 60px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  margin-left: 20px;
  position: relative;
  box-shadow: 0 0 0 4px rgba($c-yellow, 0.5);

  &--active {
    box-shadow: 0 0 0 4px rgba($c-green, 0.7);
  }

  &__hint {
    max-width: 50%;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 800;
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(0, calc(-100% - 10px));
    color: darken($c-yellow, 5%);
  }

  &__hint-accent {
    color: darken($c-yellow, 15%);
  }

  &--active &__hint {
    color: $c-green;
  }

  &__right {
  }

  &__minus-points {
    margin-top: 10px;
    grid-column: span 2;
    display: flex;
    justify-content: center;
  }
}

.SlotRow {
  display: flex;
  margin: 10px 0;

  &__tile {
    cursor: default;
    margin-left: 10px;
  }
}

.TemporarySlot {
  display: flex;
  justify-content: flex-end;
  margin: 10px 0;
  cursor: pointer;

  &:hover &__tile {
    opacity: 0.8;
  }

  &__tile {
    margin-left: 10px;
  }
}

.GameOver {
  position: absolute;
  z-index: 10;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: transparentize($c-black, 0.2);

  &__modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: $c-violet;
    padding: 42px 56px;
    border-radius: 10px;
    box-shadow: 0 0 20px 0px darken($c-violet, 20%);
    color: $c-white;
  }

  &__title {
    text-align: center;
    letter-spacing: 2px;
    margin-top: 0;
    font-size: 36px;
    font-weight: 700;
  }

  &__subtitle {
    text-align: center;
    margin-top: 0;
    margin-bottom: 32px;
    font-size: 18px;
    font-weight: 700;
  }

  &__ranking {
    margin-bottom: 40px;
    font-weight: 500;
  }

  &__ranking-result {
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;

    &:nth-child(1) {
      font-size: 32px;
    }

    &:nth-child(2) {
      font-size: 22px;
      opacity: 0.6;
    }

    &:nth-child(n + 3) {
      font-size: 14px;
      opacity: 0.5;
    }
  }
}
